.main-content{
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.mat-drawer{
  margin-top: 47px !important;
  border-radius: 0px !important;
  padding-top: 0 !important;
}
.mat-drawer-container{
  background-color: #fff !important;
}

.wrap-content{
  max-width: 56rem;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
