.main-content{
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.main-content.mode-light{
  background-color: #f4f4f4;
}

.main-content.mode-dark{
  background-color: #2b2b2b;
}

.wrap-content{
  max-width: 56rem;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
