<div class="container-fluid" style="height: 100%;background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);">

    <div class="row justify-content-center align-items-center" style="height: 100%;">

        <div class="col-sm-12 col-md-10 col-lg-6 col-xl-4">
            <div class="box-auth">
                <div class="col-sm-12">
                    <!-- <div class="box-additional-info w-100">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                          </div>
                    </div> -->
                </div>
                <div class="box-form w-100">
                    <div class="form-return mb-3">
                        <a [routerLink]="['/']" class="fs-small cc-grey ff-light">Ir a la página principal</a>
                    </div>
                    <div class="form-title">
                        <!-- <h4 class="ff-bold">Plataforma Interoperable</h4> -->
                        <h5 class="ff-bold mb-3">Iniciar Sesión</h5>
                    </div>
                    <form [formGroup]="formGroupAuth" (ngSubmit)="onSubmitFormLogin()">
                        <div class="wrapper-input">
                            <label for="" class="ff-regular fs-normal">Usuario o correo electrónico</label>
                            <mat-form-field class="input-small w-100" appearance="outline" subscriptSizing="dynamic">
                                <input formControlName="username" type="text" matInput
                                    placeholder="Usuario o correo electrónico">
                            </mat-form-field>
                            <ng-container *ngIf="username && username.invalid && (username.dirty || username.touched)">
                                <div class="wrapper-mat-error">
                                    <mat-error *ngIf="username.errors?.['required']">
                                        Este campo es requerido.
                                    </mat-error>
                                    <mat-error *ngIf="username.hasError('pattern')">
                                        Ingrese un usuario o email válido.
                                    </mat-error>
                                </div>
                            </ng-container>
                        </div>
                        <div class="wrapper-input">
                            <label for="" class="ff-regular fs-normal">Contraseña</label>
                            <mat-form-field class="input-small w-100" appearance="outline" subscriptSizing="dynamic">
                                <input formControlName="password" type="password" matInput placeholder="Contraseña">
                            </mat-form-field>
                            <ng-container *ngIf="password && password.invalid && (password.dirty || password.touched)">
                                <div class="wrapper-mat-error">
                                    <mat-error *ngIf="password.errors?.['required']">
                                        Este campo es requerido.
                                    </mat-error>
                                </div>
                            </ng-container>
                        </div>
                        <div class="wrapper-button my-2">
                            <button mat-raised-button class="fs-normal ff-inter-light" color="primary">Ingresar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>
