<div class="skills-box">
  <div class="items">

    <div class="item">
      <p class="fs-normal ff-semibold">Frontend</p>
      <div class="sub-items">

        <div class="sub-item">
          <div class="wrapper-logo">
            <img src="/assets/images/logo/angular.png" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">FRAMEWORK</span>
            <p class="fs-normal ff-bold">Angular 11+</p>
          </div>
        </div>

        <div class="sub-item">
          <div class="wrapper-logo">
            <img src="/assets/images/logo/react.png" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">FRAMEWORK</span>
            <p class="fs-normal ff-bold">React JS</p>
          </div>
        </div>

        <div class="sub-item">
          <div class="wrapper-logo">
            <img src="/assets/images/logo/javascript.png" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">LENGUAJE</span>
            <p class="fs-normal ff-bold">Javascript</p>
          </div>
        </div>

      </div>
    </div>

    <div class="item">
      <p class="fs-normal ff-semibold">Backend</p>
      <div class="sub-items">

        <div class="sub-item">
          <div class="wrapper-logo">
            <img src="/assets/images/logo/spring-boot.png" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">FRAMEWORK</span>
            <p class="fs-normal ff-bold">Spring Boot</p>
          </div>
        </div>

        <div class="sub-item">
          <div class="wrapper-logo">
            <img src="/assets/images/logo/spring-mvc.png" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">FRAMEWORK</span>
            <p class="fs-normal ff-bold">Spring MVC</p>
          </div>
        </div>

        <div class="sub-item">
          <div class="wrapper-logo">
            <img src="/assets/images/logo/java.png" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">LENGUAJE</span>
            <p class="fs-normal ff-bold">Java 8+</p>
          </div>
        </div>

      </div>
    </div>

    <div class="item">
      <p class="fs-normal ff-semibold">Testing</p>
      <div class="sub-items">

        <div class="sub-item">
          <div class="wrapper-logo">
            <img src="/assets/images/logo/testing.png" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">QA</span>
            <p class="fs-normal ff-bold">JUnit</p>
          </div>
        </div>

        <div class="sub-item">
          <div class="wrapper-logo">
            <img src="/assets/images/logo/testing.png" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">QA</span>
            <p class="fs-normal ff-bold">Mockito</p>
          </div>
        </div>

        <div class="sub-item">
          <div class="wrapper-logo">
            <img src="/assets/images/logo/testing.png" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">QA</span>
            <p class="fs-normal ff-bold">Selenium</p>
          </div>
        </div>

        <div class="sub-item">
          <div class="wrapper-logo">
            <img src="/assets/images/logo/testing.png" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">QA</span>
            <p class="fs-normal ff-bold">SonarQube</p>
          </div>
        </div>

      </div>
    </div>

    <div class="item">
      <p class="fs-normal ff-semibold">CI/CD</p>
      <div class="sub-items">

        <div class="sub-item">
          <div class="wrapper-logo">
            <img src="/assets/images/logo/azure-img.png" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">QA</span>
            <p class="fs-normal ff-bold">Azure Cloud</p>
          </div>
        </div>

        <div class="sub-item">
          <div class="wrapper-logo">
            <img src="/assets/images/logo/google.webp" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">QA</span>
            <p class="fs-normal ff-bold">Google Cloud</p>
          </div>
        </div>

        <div class="sub-item">
          <div class="wrapper-logo">
            <img src="/assets/images/logo/docker.png" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">QA</span>
            <p class="fs-normal ff-bold">Docker</p>
          </div>
        </div>

        <div class="sub-item">
          <div class="wrapper-logo">
            <img src="/assets/images/logo/jenkins.png" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">QA</span>
            <p class="fs-normal ff-bold">Jenkins</p>
          </div>
        </div>

      </div>
    </div>

    <div class="item">
      <p class="fs-normal ff-semibold">Mobile APP</p>
      <div class="sub-items">

        <div class="sub-item">
          <div class="wrapper-logo">
            <img src="/assets/images/logo/android-java-kotlin.png" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">QA</span>
            <p class="fs-normal ff-bold">Native Android</p>
          </div>
        </div>

        <div class="sub-item">
          <div class="wrapper-logo">
            <img src="/assets/images/logo/flutter.png" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">QA</span>
            <p class="fs-normal ff-bold">Flutter</p>
          </div>
        </div>

      </div>
    </div>

    <div class="item">
      <p class="fs-normal ff-semibold">Data caché & streaming</p>
      <div class="sub-items">

        <div class="sub-item">
          <div class="wrapper-logo">
            <img src="/assets/images/logo/redis.png" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">DATA CACHÉ</span>
            <p class="fs-normal ff-bold">Redis</p>
          </div>
        </div>

        <div class="sub-item">
          <div class="wrapper-logo">
            <img src="/assets/images/logo/kafka.png" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">DATA STREAMING</span>
            <p class="fs-normal ff-bold">Apache Kafka</p>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
