<div class="skills-box">
  <div class="items">

    <div class="item">
      <p class="fs-normal ff-semibold">Frontend</p>
      <div class="sub-items">

        <div class="sub-item">
          <div class="wrapper-logo">
            <img [src]="assetsImagesUri + '/angular.png'" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">FRAMEWORK</span>
            <p class="fs-normal ff-bold">Angular 11+</p>
          </div>
        </div>

        <div class="sub-item">
          <div class="wrapper-logo">
            <img [src]="assetsImagesUri + '/react.png'" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">FRAMEWORK</span>
            <p class="fs-normal ff-bold">React JS</p>
          </div>
        </div>

        <div class="sub-item">
          <div class="wrapper-logo">
            <img [src]="assetsImagesUri + '/javascript.png'" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">LANGUAGE</span>
            <p class="fs-normal ff-bold">Javascript</p>
          </div>
        </div>

      </div>
    </div>

    <div class="item">
      <p class="fs-normal ff-semibold">Backend</p>
      <div class="sub-items">

        <div class="sub-item">
          <div class="wrapper-logo">
            <img [src]="assetsImagesUri + '/spring-boot.png'" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">FRAMEWORK</span>
            <p class="fs-normal ff-bold">Spring Boot</p>
          </div>
        </div>

        <div class="sub-item">
          <div class="wrapper-logo">
            <img [src]="assetsImagesUri + '/spring-mvc.png'" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">FRAMEWORK</span>
            <p class="fs-normal ff-bold">Spring MVC</p>
          </div>
        </div>

        <div class="sub-item">
          <div class="wrapper-logo">
            <img [src]="assetsImagesUri + '/java.png'" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">LANGUAGE</span>
            <p class="fs-normal ff-bold">Java 8+</p>
          </div>
        </div>

      </div>
    </div>

    <div class="item">
      <p class="fs-normal ff-semibold">Testing</p>
      <div class="sub-items">

        <div class="sub-item">
          <div class="wrapper-logo">
            <img [src]="assetsImagesUri + '/testing.png'" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">QA</span>
            <p class="fs-normal ff-bold">JUnit</p>
          </div>
        </div>

        <div class="sub-item">
          <div class="wrapper-logo">
            <img [src]="assetsImagesUri + '/testing.png'" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">QA</span>
            <p class="fs-normal ff-bold">Mockito</p>
          </div>
        </div>

        <div class="sub-item">
          <div class="wrapper-logo">
            <img [src]="assetsImagesUri + '/testing.png'" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">QA</span>
            <p class="fs-normal ff-bold">Selenium</p>
          </div>
        </div>

        <div class="sub-item">
          <div class="wrapper-logo">
            <img [src]="assetsImagesUri + '/testing.png'" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">QA</span>
            <p class="fs-normal ff-bold">SonarQube</p>
          </div>
        </div>

      </div>
    </div>

    <div class="item">
      <p class="fs-normal ff-semibold">CI/CD</p>
      <div class="sub-items">

        <div class="sub-item">
          <div class="wrapper-logo">
            <img [src]="assetsImagesUri + '/azure-img.png'" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">CLOUD</span>
            <p class="fs-normal ff-bold">Azure Cloud</p>
          </div>
        </div>

        <div class="sub-item">
          <div class="wrapper-logo">
            <img [src]="assetsImagesUri + '/google.webp'" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">CLOUD</span>
            <p class="fs-normal ff-bold">Google Cloud</p>
          </div>
        </div>

        <div class="sub-item">
          <div class="wrapper-logo">
            <img [src]="assetsImagesUri + '/docker.png'" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">CONTAINER</span>
            <p class="fs-normal ff-bold">Docker</p>
          </div>
        </div>

        <div class="sub-item">
          <div class="wrapper-logo">
            <img [src]="assetsImagesUri + '/jenkins.png'" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">AUTOMATION</span>
            <p class="fs-normal ff-bold">Jenkins</p>
          </div>
        </div>

      </div>
    </div>

    <div class="item">
      <p class="fs-normal ff-semibold">Mobile APP</p>
      <div class="sub-items">

        <div class="sub-item">
          <div class="wrapper-logo">
            <img [src]="assetsImagesUri + '/android-java-kotlin.png'" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">MOBILE</span>
            <p class="fs-normal ff-bold">Native Android</p>
          </div>
        </div>

        <div class="sub-item">
          <div class="wrapper-logo">
            <img [src]="assetsImagesUri + '/flutter.png'" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">MOBILE</span>
            <p class="fs-normal ff-bold">Flutter</p>
          </div>
        </div>

      </div>
    </div>

    <div class="item">
      <p class="fs-normal ff-semibold">Data caché & streaming</p>
      <div class="sub-items">

        <div class="sub-item">
          <div class="wrapper-logo">
            <img [src]="assetsImagesUri + '/redis.png'" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">DATA CACHÉ</span>
            <p class="fs-normal ff-bold">Redis</p>
          </div>
        </div>

        <div class="sub-item">
          <div class="wrapper-logo">
            <img [src]="assetsImagesUri + '/kafka.png'" class="w-100" alt="Angular">
          </div>
          <div class="body">
            <span class="fs-extra-small ff-semibold cc-grey-500">DATA STREAMING</span>
            <p class="fs-normal ff-bold">Apache Kafka</p>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
