<div class="certification-box w-100">
  <div class="items">

    <div class="item card-item">
      <div class="wrapper-img">
        <img [src]="assetsImagesUri + '/certificacion.png'" class="w-100" alt="Alt">
      </div>
      <p class="ff-semibold fs-small text-center mb-3">Java programming</p>
      <button (click)="onDownloadFile(assetsImagesUri+'/W20210826104CPE957.pdf', 'W20210826104CPE957.pdf')" class="w-100 custom-btn-primary ff-regular fs-extra-small">
        Ver certificado
      </button>
    </div>

    <div class="item card-item">
      <div class="wrapper-img">
        <img [src]="assetsImagesUri + '/certificacion.png'" class="w-100" alt="Alt">
      </div>
      <p class="ff-semibold fs-small text-center mb-3">Database Design & Programming with SQL</p>
      <button (click)="onDownloadFile(assetsImagesUri+'/W20210513212CPB64F.pdf', 'W20210513212CPB64F.pdf')" class="w-100 custom-btn-primary ff-regular fs-extra-small">
        Ver certificado
      </button>
    </div>

    <div class="item card-item">
      <div class="wrapper-img">
        <img [src]="assetsImagesUri + '/certificacion.png'" class="w-100" alt="Alt">
      </div>
      <p class="ff-semibold fs-small text-center mb-3">BMP</p>
      <button (click)="onDownloadFile(assetsImagesUri+'/W2022100522212F6CE.pdf', 'W20210513212CPB64F.pdf')" class="w-100 custom-btn-primary ff-regular fs-extra-small">
        Ver certificado
      </button>
    </div>


  </div>
</div>
