<div class="work-experience-box w-100">
  <div class="items">

    <div class="card-item">
      <div class="card-logo col-sm-4">
        <img src="/assets/images/logo/csti.jpg" class="w-100" alt="Csti Logo">
      </div>
      <div class="card-description col-sm-8">
        <div class="item-title">
          <div class="group">
            <span class="fs-small ff-semibold">Empresa:</span>
            <p class="fs-normal ff-light">CSTI Corp</p>
          </div>
          <span class="my-badge my-badge-primary ff-light fs-small">oct. 2023 - apr. 2024</span>
        </div>
        <span class="fs-small ff-semibold">Puesto:</span>
        <p class="fs-normal ff-light">Fullstack Developer</p>
        <span class="fs-small ff-semibold">Funciones:</span>
        <ul class="list-subitems">

          <li>
            <span class="material-symbols-outlined">arrow_circle_right</span>
            <p class="fs-small ff-light">Desarrollo y mantenimiento de sistemas con Angular, Java 11 y 17 bajo el framework de SpringBoot para la empresa Intercorp Retail</p>
          </li>

          <li>
            <span class="material-symbols-outlined">arrow_circle_right</span>
            <p class="fs-small ff-light">CI/CD con Azure pipelines y templates en Docker containers.</p>
          </li>

          <li>
            <span class="material-symbols-outlined">arrow_circle_right</span>
            <p class="fs-small ff-light">Trabajo en equipo bajo la metodología Scrum, Git y Azure DevOps.</p>
          </li>

          <li>
            <span class="material-symbols-outlined">arrow_circle_right</span>
            <p class="fs-small ff-light">Manejo de bases de datos en Mysql y PostgreSQL.</p>
          </li>

          <li>
            <span class="material-symbols-outlined">arrow_circle_right</span>
            <p class="fs-small ff-light">Desarrollo de pruebas unitarias JUnit y Mockito, pruebas integración y funcionales.</p>
          </li>

        </ul>
      </div>
    </div>

    <div class="card-item">
      <div class="card-logo col-sm-4">
        <img src="/assets/images/logo/logo-ntt-data.jpg" class="w-100" alt="Csti Logo">
      </div>
      <div class="card-description col-sm-8">
        <div class="item-title">
          <div class="group">
            <span class="fs-small ff-semibold">Empresa:</span>
            <p class="fs-normal ff-light">NTT DATA Europe & Latam</p>
          </div>
          <span class="my-badge my-badge-primary ff-light fs-small">oct. 2022 - oct. 2023</span>
        </div>
        <span class="fs-small ff-semibold">Puesto:</span>
        <p class="fs-normal ff-light">Software Engineer</p>
        <span class="fs-small ff-semibold">Funciones:</span>
        <ul class="list-subitems">

          <li>
            <span class="material-symbols-outlined">arrow_circle_right</span>
            <p class="fs-small ff-light">Diseño e implementación de reportes con JasperReports para la empresa Credicorp Capital.</p>
          </li>

          <li>
            <span class="material-symbols-outlined">arrow_circle_right</span>
            <p class="fs-small ff-light">Manejo de base de datos en Oracle. Elaboración de jobs y procedimientos almacenados complejos.</p>
          </li>

          <li>
            <span class="material-symbols-outlined">arrow_circle_right</span>
            <p class="fs-small ff-light">Trabajo en equipo bajo la metodología Scrum, Git y Azure DevOps.</p>
          </li>

        </ul>
      </div>
    </div>

    <div class="card-item">
      <div class="card-logo col-sm-4">
        <img src="/assets/images/logo/grupo-p.jpg" class="w-100" alt="Csti Logo">
      </div>
      <div class="card-description col-sm-8">
        <div class="item-title">
          <div class="group">
            <span class="fs-small ff-semibold">Empresa:</span>
            <p class="fs-normal ff-light">GrupoP Latam</p>
          </div>
          <span class="my-badge my-badge-primary ff-light fs-small">nov. 2021 - feb. 2023</span>
        </div>
        <span class="fs-small ff-semibold">Puesto:</span>
        <p class="fs-normal ff-light">Fullstack Developer</p>
        <span class="fs-small ff-semibold">Funciones:</span>
        <ul class="list-subitems">

          <li>
            <span class="material-symbols-outlined">arrow_circle_right</span>
            <p class="fs-small ff-light">Desarrollo y mantenimiento de sistemas con Angular, NodeJS, Laravel, ReactJS y Java 11 bajo el framework de Spring Boot para clientes de la empresa, como
              Mitsubishi Motors, Fuso, Gerens, entre otros.</p>
          </li>

          <li>
            <span class="material-symbols-outlined">arrow_circle_right</span>
            <p class="fs-small ff-light">Despliegue en la nube de AWS con EC2 y S3.</p>
          </li>

          <li>
            <span class="material-symbols-outlined">arrow_circle_right</span>
            <p class="fs-small ff-light">Webhooks en NodeJS para la integración de Webhooks for Leads de Facebook.</p>
          </li>

          <li>
            <span class="material-symbols-outlined">arrow_circle_right</span>
            <p class="fs-small ff-light">Gestión de base de datos en Mysql.</p>
          </li>

          <li>
            <span class="material-symbols-outlined">arrow_circle_right</span>
            <p class="fs-small ff-light">Trabajo en equipo bajo la metodología Scrum y control de versiones en Bitbucket y Git.</p>
          </li>

          <li>
            <span class="material-symbols-outlined">arrow_circle_right</span>
            <p class="fs-small ff-light">Desarrollo de pruebas unitarias, pruebas integración y funcionales.</p>
          </li>

        </ul>
      </div>
    </div>

    <div class="card-item">
      <div class="card-logo col-sm-4">
        <img src="/assets/images/logo/techera.png" class="w-100" alt="Csti Logo">
      </div>
      <div class="card-description col-sm-8">
        <div class="item-title">
          <div class="group">
            <span class="fs-small ff-semibold">Empresa:</span>
            <p class="fs-normal ff-light">TechEra Perú</p>
          </div>
          <span class="my-badge my-badge-primary ff-light fs-small">mar. 2020 - nov. 2021</span>
        </div>
        <span class="fs-small ff-semibold">Puesto:</span>
        <p class="fs-normal ff-light">Backend Java Developer</p>
        <span class="fs-small ff-semibold">Funciones:</span>
        <ul class="list-subitems">

          <li>
            <span class="material-symbols-outlined">arrow_circle_right</span>
            <p class="fs-small ff-light">Diseño e implementación de reportes con JasperReports para la empresa Credicorp Capital.</p>
          </li>

          <li>
            <span class="material-symbols-outlined">arrow_circle_right</span>
            <p class="fs-small ff-light">Desarrollo y mantenimiento de sistemas con Angular, Java 8 y 11 bajo el framework de Spring Boot y Spring MVC con thymeleaf y javascript, para la empresa
              Osinergmin Perú.</p>
          </li>

          <li>
            <span class="material-symbols-outlined">arrow_circle_right</span>
            <p class="fs-small ff-light">Integración con servicios externos como RENIEC, SIGED, entre otros.</p>
          </li>

          <li>
            <span class="material-symbols-outlined">arrow_circle_right</span>
            <p class="fs-small ff-light">Integración con servicios externos como RENIEC, SIGED, entre otros.</p>
          </li>

          <li>
            <span class="material-symbols-outlined">arrow_circle_right</span>
            <p class="fs-small ff-light">Despliegue en la nube de AWS con EC2 y S3.</p>
          </li>

          <li>
            <span class="material-symbols-outlined">arrow_circle_right</span>
            <p class="fs-small ff-light">Gestión de base de datos en Oracle.</p>
          </li>

          <li>
            <span class="material-symbols-outlined">arrow_circle_right</span>
            <p class="fs-small ff-light">Trabajo en equipo bajo la metodología Scrum, Jira, confluence y control de versiones en Bitbucket.</p>
          </li>

          <li>
            <span class="material-symbols-outlined">arrow_circle_right</span>
            <p class="fs-small ff-light">CI/CD con Atlasian Bamboo.</p>
          </li>

        </ul>
      </div>
    </div>

  </div>
</div>
