.box-drawer{
  .menu-drawer{
    list-style: none;
    padding: 0;
    .menu-title{
      width: 100%;
      padding: 0.25rem 1rem;
      margin-bottom: 0.5rem;
    }
    .menu-item{
      width: 100%;
      .menu-link{
        display: flex;
        align-items: center;
        width: 100%;
        text-decoration: none;
        padding: 0.5rem;
        color: #1f1f1f;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
      }
      .menu-link:hover{
        background-color: #2196f3;
        color: #FFF;
      }
      .menu-link.active{
        background-color: #2196f3;
        color: #FFF;
      }
    }
  }
}
