
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

// Fonts admin
@font-face {
  font-family: "Titilium-Black";
  src: url("/assets/fonts/titilium/TitilliumWeb-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Titilium-Bold";
  src: url("/assets/fonts/titilium/TitilliumWeb-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Titilium-Light";
  src: url("/assets/fonts/titilium/TitilliumWeb-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Titilium-Regular";
  src: url("/assets/fonts/titilium/TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Titilium-SemiBold";
  src: url("/assets/fonts/titilium/TitilliumWeb-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// Fonts web
@font-face {
  font-family: "Nova-Bold";
  src: url("/assets/fonts/nova/NovaFlat-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nova-Book";
  src: url("/assets/fonts/nova/NovaFlat-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$porfolio-webapp-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($porfolio-webapp-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($porfolio-webapp-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($porfolio-webapp-theme);
/* You can add global styles to this file, and also import other style files */


/************************************************
*   CUSTOM ANGULAR MATERIAL ELEMENTS
************************************************/

// Chips
.mat-mdc-chip{
  font-family: Nova-Book, sans-serif;
  border-radius: 15px !important;
}

.mat-mdc-standard-chip .mdc-evolution-chip__action--primary::before{
  border: none !important;
}

.mat-mdc-chip.chip-linkedin{
  background-color: #0e76a8 !important;
  .mdc-evolution-chip__text-label{
    color: #FFF !important;
  }
  .mat-mdc-chip-graphic{
    padding-right: 0px !important;
    .mat-mdc-chip-avatar{
      color: #FFF !important;
    }
  }
}

.mat-mdc-chip.chip-contact{
  background-color: #3f51b5 !important;
  .mdc-evolution-chip__text-label{
    color: #FFF !important;
  }
  .mat-mdc-chip-graphic{
    padding-right: 0px !important;
    .mat-mdc-chip-avatar{
      color: #FFF !important;
    }
  }
}

.mat-mdc-chip.mat-mdc-standard-chip{
  height: 28px !important;
}

// carrousel
.p-carousel{
  align-items: center;
}

.p-carousel-content{
  max-width: 100%;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator button{
  background-color: #bdbdbd;
  border-radius: 5px;
}

.p-carousel .p-carousel-indicators {
  display: none !important;
}

.p-carousel-item .surface-border{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Tabs
.mat-mdc-tab{
  font-family: Nova-Book, sans-serif !important;
  font-size: 13px !important;
}

// table
.mat-mdc-table{
  .mat-mdc-header-row{
    font-family: Titilium-Bold, sans-serif;
  }
  .mat-mdc-row{
    font-family: Titilium-Regular, sans-serif;
    font-size: 13px !important;
  }
}

.mat-tooltip {
  /* your own custom styles here */
  /* e.g. */
  font-size: 13px !important;
}

.mdc-button {
  border-radius: 2px !important;
  font-family: Titilium-Bold, sans-serif !important;
  font-size: 13px !important;
  box-shadow: none !important;
}

button.mat-mdc-button-base{
  height: 32.99px !important
}


.input-small {
  @include mat.form-field-density(-5);
  font-size: 14px !important;
  font-family: Titilium-Regular, sans-serif !important;
  color: #424242;
  margin-bottom: 0.5rem;
}

.input-medium {
  @include mat.form-field-density(-3);
  font-size: 14px !important;
  font-family: Titilium-Regular, sans-serif !important;
}

.mat-mdc-option {
  font-size: 14px !important;
  font-family: Titilium-Regular, sans-serif !important;
  min-height: 40px !important;
  color: #424242 !important;
}

.mat-mdc-form-field-infix {
  min-height: 33px !important;
}

.mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 2px !important;
}

.mat-mdc-select-placeholder {
  font-style: italic !important;
}

.mdc-notched-outline__leading {
  width: 5px !important;
}

.div.mat-mdc-select-panel {
  padding: 1px 0px !important;
}

.wrapper-mat-error {
  margin-left: 0.75rem;
  margin-bottom: 0.4rem;
  font-size: 13px;
  font-family: Titilium-Light, sans-serif !important;
}

.mat-form-field-invalid .mdc-notched-outline__leading {
  background-color: #f44336d5;
}

.mat-drawer {
  min-width: 230px;
  padding: 20px 0;
  position: fixed !important;
  margin-top: 50px !important;
}

.mat-drawer-container{
  background-color: #f2f3f3 !important;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: transparent !important;
}

.mat-mdc-icon-button{
  width: 33px !important;
  height: 33px !important;
  padding: 3px !important;
}

// Date picker
.mat-calendar{
  font-size: 13px !important;
  font-family: Titilium-Regular, sans-serif !important;
}

// cards
.mat-mdc-card{
  width: 100% !important;
}

.mat-mdc-card-header{
  background-color: #fafafa;
  padding: 15px 20px !important;

  .mat-mdc-card-title{
    font-family: Titilium-Bold, sans-serif;
    font-size: 16px;
  }
}

.mat-mdc-card-subtitle{
  font-size: 14px !important;
  font-family: Titilium-Bold, sans-serif !important;
}

.mat-mdc-card-content{
  padding: 15px 20px !important;
}

/************************************************
*   GLOBAL STYLES
************************************************/
html,
body {
  height: 100%;
}

body {
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
textarea,
small,
select {
  color: #424242;
  margin-bottom: 0.50rem;
}

// Google Icons
.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 200,
    "GRAD" 0,
    "opsz" 24;
}

// Breadcrum
.breadcrumb{
  font-family: Titilium-Regular, sans-serif !important;
  font-size: 13.5px !important;
  margin-bottom: 1.75rem;
  li > a {
    color: #424242;
  }
}

// Cards
.default-card-item{
  border: 1px solid #e0e0e0;
  padding: 0.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
}

.cursor{
  cursor: pointer;
}

.ff-black{
  font-family: Titilium-Black, sans-serif;
}

.ff-bold{
  font-family: Titilium-Bold, sans-serif;
}

.ff-light{
  font-family: Titilium-Light, sans-serif;
}

.ff-regular{
  font-family: Titilium-Regular, sans-serif;
}

.ff-semibold{
  font-family: Titilium-SemiBold, sans-serif;
}

.ffw-book{
  font-family: Nova-Book, sans-serif;
}

.ffw-bold{
  font-family: Nova-Bold, sans-serif;
}

// Colors
.cc-green-500 {
  color: #4caf50;
}

.cc-light-blue-500 {
  color: #03a9f4;
}

.cc-red-500 {
  color: #f44336;
}

.cc-blue-500 {
  color: #2196f3;
}

.cc-indigo-500 {
  color: #3f51b5;
}

.cc-amber-500 {
  color: #ffc107;
}

.cc-blue-grey-500 {
  color: #607d8b;
}

.cc-grey{
  color: rgb(110, 110, 110);
}

.cc-grey-500 {
  color: #9e9e9e;
}

.cc-grey-400 {
  color: #bdbdbd;
}

.cc-grey-300 {
  color: #e0e0e0;
}

.cc-grey-200 {
  color: #eeeeee;
}

.cc-grey-100 {
  color: #f5f5f5;
}

// Line heights
.lh-16{
  line-height: 16px;
}

// Buttons
.animation-btn{
  border-radius: 15px;
  position: relative;
  display: inline-block;
  cursor: default;
  text-decoration: none;
  color: #424242;
  padding: 2px 12px;
  margin: 0.5rem 0;
}

.animation-btn::before{
  --timing: linear(0, 0.3, 0.75, 1);
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  padding: 0.1em; /* control the border thickness */
  background: conic-gradient(from var(--a), rgb(185, 246, 202), rgb(0, 230, 118), rgb(204, 255, 144));
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  animation: move 2s infinite var(--timing);
  top: -1px;
}

@keyframes move {
  from { --a: 0deg; }
  to { --a: 360deg; }
}

@property --a {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

.btn-icon-link{
  border: none;
  background-color: #FFF;
  background: #FFF;
  outline: none;
  padding-top: 7px;
}

.custom-btn-primary{
  background-color: #FFF;
  border: 1px solid #3f51b5;
  outline: none;
  padding: 8px 0;
  color: #3f51b5;
}

.custom-btn-primary-rounded-mini{
  background-color: #FFF;
  border: 1px solid #3f51b5;
  outline: none;
  color: #3f51b5;
  border-radius: 12px;
  padding: 1px 10px;
  text-decoration: none;
}

.custom-btn-primary-rounded-mini:hover{
  background-color: #3f51b5;
  border: 1px solid #FFF;
  color: #FFF;
  transition: .5s ease;
}

.custom-btn-primary:hover{
  background-color: #3f51b5;
  border: 1px solid #FFF;
  color: #FFF;
  transition: .5s ease;
}

// Font sizes
.fs-extra-small {
  font-size: 11px;
}

.fs-small {
  font-size: 12px;
}

.fs-normal {
  font-size: 14px;
}

.fs-large {
  font-size: 16px;
}

.fs-extra-large {
  font-size: 18px;
}

.fs-title {
  font-size: 26px;
}

.fs-subtitle {
  font-size: 22px;
}

.fs-30 {
  font-size: 30px;
}

.fs-35 {
  font-size: 35px;
}

.fs-40 {
  font-size: 40px;
}

.fs-60 {
  font-size: 60px;
}

.fs-80 {
  font-size: 80px;
}

// Checkbox
.form-check-input[type="checkbox"] {
  box-shadow: none;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.38) !important;
  border-radius: 1px;
}

// Badge
.my-badge{
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}
.my-badge.my-badge-primary{
  background-color: #3f51b5;
  color: #FFF;
}


///
.main-content.mode-light{
  background-color: #f4f4f4;
}

.main-content.mode-dark{
  --bg-dark: rgb(3 7 18 / 1);
  background-color: var(--bg-dark);

  .wrap-content{
    background-color: var(--bg-dark) !important;
  }

  .line-title{
    background-color: #3B82F6 !important;
  }
  .set-mode-content{
    background-color: var(--bg-dark) !important;
  }
  h1,h2,h3,h4,h5,h6,p,label,small,span,a{
    color: #fff !important;
  }
  .material-symbols-outlined{
    color: #f4f4f4 !important;
  }
  .ff-semibold{
    color: #d4d4d4 !important;
  }

  a,
  .custom-btn-primary{
    background-color: transparent !important;
  }
  .custom-btn-primary{
    color: #FFF;
  }
  a:hover,
  .custom-btn-primary:hover{
    border-color: #3B82F6 !important;
  }
  .nav-link,
  .menu-link{
    border: 1px solid #3c5c92 !important;
    color: #cacaca !important;
  }
  .nav-link:hover,
  .menu-link:hover{
    transition: 0.25s ease-in-out;
    border: 1px solid #3B82F6 !important;
  }
  .nav-link.active,
  .menu-link.active{
    color: #FFF !important;
    border: 1px solid #3B82F6 !important;
  }

  .header-box,
  .box-before-headers{
    border-bottom: 1px solid #3B82F6 !important;
  }

  .header-box,
  .box-home,
  .work-experience-box,
  .formation-box,
  .skills-box,
  .certification-box,
  .mat-drawer{
    background-color: var(--bg-dark) !important;
    .card-item .card-logo,
    .card-item,
    .style1 .wrapper-content,
    .style3,
    .wrapper-logo{
      border: 1px solid #3B82F6 !important;
    }
  }
  .footer-box{
    background-color: var(--bg-dark) !important;
  }
}

// Media queries
// Mobile
@media only screen and (min-width: 320px) and (max-width: 480px){
  .p-carousel-content{
    max-width: 310px !important;
  }
}
