<div class="formation-box w-100">
  <div class="items">

    <div class="item">
      <div class="timeline">
        <span class="my-badge my-badge-primary ff-light fs-small">2015 - 2021</span>
      </div>
      <div class="item-logo">
        <img [src]="assetsImagesUri + '/universidad-1.png'" class="w-75" alt="UADP Logo">
      </div>
      <div class="item-body">
        <p class="fs-small ff-regular m-0">Universidad Autónoma del Perú</p>
        <p class="fs-normal ff-semibold m-0">Graduado en Ingeniería de Sistemas</p>
        <p class="fs-small ff-light m-0">Lima - Perú</p>
      </div>
    </div>

    <div class="item">
      <div class="timeline">
        <span class="my-badge my-badge-primary ff-light fs-small">2024 - 2025</span>
      </div>
      <div class="item-logo">
        <img [src]="assetsImagesUri + '/universidad-2.png'" class="w-100" alt="ULPGC Logo">
      </div>
      <div class="item-body">
        <p class="fs-small ff-regular m-0">Universidad de Las Palmas de Gran Canaria</p>
        <p class="fs-normal ff-semibold m-0">Máster en Tecnologías y Procesos Industriales Avanzados</p>
        <p class="fs-small ff-light m-0">Las Palmas de Gran Canaria - España</p>
      </div>
    </div>

  </div>
</div>
